.navbar-brand img {
    height: 32px;
    margin-top: -8px;
}

.team-list img {
    float: left;
    width: 75px;
    height: auto;
    border-radius: .3rem;
    margin-right: 20px;
}

iframe {
    border-radius: .3rem !important;
}

/* Fix for anchor links with fixed nav bar */
html {
    scroll-padding-top: 80px;
}