.btn-block {
    width: 100%;
}

.nav-wrapper .brand-logo img {
    height: 50px;
    margin-top: 6px;
}

.techathon-team-card .collection, .techathon-team-card .collection-item {
    border: 0;
}

.techathon-team-card .title a {
    color: initial;
}

.techathon-main-buttons .btn-block {
    margin-bottom: 8px;
}

/* Tablet, desktop, and large desktop */
@media (min-width: 992px) {
    .floating-donate-btn {
        display: none;
    }
}

@media only screen and (min-width: 600px) {

    .container {
        width: calc(100% - 40px);
    }

    .brand-logo {
        margin-left: 10px;
    }

    .nav-donate-btn {
        display: inline-block;
    }

}

/* Mobile only */
@media only screen and (max-width: 600px) {

    .embed-container {
        margin-left: calc(-5% - 1rem);
        margin-right: calc(-5% - 1rem);
        margin-top: -1em;
    }

    .nav-wrapper .brand-logo img {
        height: 43px;
    }

    .nav-donate-btn {
        display: none;
    }

}   