.techathon {
    background: #ff412c;
}

.techathon.btn:hover {
    background: #ff6855;
}

.techathon-yellow {
    border-color: #ffed71;
    color: #ffed71;
}

.techathon-yellow:hover {
    border-color: #000;
    background: #ffed71;
    color: #000;
}

.navbar-brand img {
    height: 32px;
    margin-top: -8px;
}

#team img {
    width: 75px;
    height: 75px;
    border-radius: 50%;
}

iframe {
    border-radius: .3rem !important;
}

/* Fix for anchor links with fixed nav bar */
html {
    scroll-padding-top: 80px;
}